html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fdc3d8;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #ffeef5;
}

.navbar li {
    float: right;
    margin: 0.5em; 
}

.navbar .navbar-left {
    float: left;
    margin-left: 10px;
}

.navbar img {
    display: block;
    width: 80px; 
}

.content {
    flex: 1;
    text-align: center;
    margin-top: 60px;
    padding: 20px;
}

a {
    display: block;
    color: #1f1013;
    text-align: center;
    padding: 1.25em;
    background-color: #ffb0cd;
    text-decoration: none;
}

a.active {
    background-color: #1f1013    ;
    color:#ffb0cd
}

button {
    font-weight: bold;
    border-radius: 1em;
    color:#1f1013;
    background-color: #ffb0cd;
}


p {
    text-align: justify;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
}

li {
    font-size: 16px;
}

h1, h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    height: 1.25em;
    width: 100%;
    background-color: #ffeef5;
    color: #000;
  }